/*GENERAL*/

:root { 
    --bg: #2A2B2A;
    --fg:  #FBF5F3;
    --primary: lightpink;
    --secondary : #832161;;
}

body {
    background-color: var(--bg);
    font-family: Tahoma, Verdana, sans-serif;
}

p {
    color: var(--fg);    
}

/*HEAD*/

header {
    margin-top : 50px;
    margin-bottom : 60px;
    margin-right : auto;
    margin-left : auto;
    width:60%;
    border-bottom : 2px solid var(--primary);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title a {
    font-size: 50px;
    text-decoration: none;
    color: var(--primary);
}
.title a:hover {
    color: var(--secondary);
}

/*MENU*/

h1, h2, h3, h4, h5, h6 {
    color : var(--primary)
}

.onglet{
    color: var(--primary);
    font-size: 26px;
    text-decoration-line: none;
    margin-top:10px;
}

.onglet:hover{
    color:var(--secondary);
}

#onlgetbloc{
    width:45%;
    margin:auto;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}



/* PAGE */


.page{
    margin-bottom:100px;
    margin-right : auto;
    margin-left : auto;
    width: 60%;
    text-align: left;
}

/* MOVIE :to align movie image and description */
.movie {
  width:100%;
  display: flex;
  justify-content: space-between;
}
.movie div {
  display: flex;
  justify-content: center;
  align-items: center;
  width:47%;
}
.movie p {
  text-align: justify;
}


/*ERROR PAGE*/
#errdiv {
    margin:auto;
    width: 80%;
    border: 2px solid var(--secondary);
    padding: 10px;
    justify-content: center;
    align-items: center;
}

/*FOOT*/

footer{
    margin-top:30px;
    border-top : 2px solid var(--primary);
    margin-right : auto;
    margin-left : auto;
    width: 60%;
    text-align: center;
}

#footertext{
    color : var(--primary)
}


/* FOR PHONE */

@media (max-width: 768px) {

    header {
        width: 90%;
        margin-top: 40px;
    }
    #ongletbloc {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .page{
        width: 95%;
    }

}